<!DOCTYPE html>
<html>
<title>ChromaClade webapp</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='w3.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='montserrat.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='font-awesome.min.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}" >
<!--TODO can't get local download of fa css to work yet - may need to download more of their files? if it matters-->
<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #222;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
<!--    @media only screen and (max-width: 600px) {-->
<!--        #main {margin-left: 0}-->
<!--    }-->

   .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: red;
  border: 1px solid blue;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.mytest2 {
    color: green;
}
</style>

<body class="w3-white">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{{url_for('static', filename='tree.png')}}" style="width:100%" class="w3-white">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>ChromaClade</p>
  </a>
  <a href="#examples" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>EXAMPLES</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-white w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">ChromaClade</a>
    <a href="#examples" class="w3-bar-item w3-button" style="width:25% !important">Examples</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">About</a>
  </div>
</div>

<!-- Page Content -->
  <!-- Header/Home -->
<header class="w3-container w3-padding-16 w3-center w3-white" id="home">
    <h1 class="w3-jumbo"> ChromaClade </h1>
    <span>Combined visualisation of phylogenetic and sequence data</span>
    <!--    <img src="{{url_for('static', filename='tree.png')}}" alt="coloured tree" class="w3-image w3-opacity-min" width="100" height="100">-->
</header>


<!-- App interface -->
<div class="app-interface">
    <form method="post" action="/" enctype="multipart/form-data">

        <!-- file uploads -->
        <div class="w3-row w3-container">
            <!-- Upload tree -->
            <div class="w3-col s3 w3-center upload-image-panel"> <!-- using this number of pixels here means number of pixels either side of 'choose file' box is equal when browser is at smallest screen size -->
                <p>Tree</p>
                <img src="{{url_for('static', filename='tree.png')}}" alt="Tree" class="upload-image">
                <input class="file-upload-button" type="file" id="tree-file">
                <div class="upload-file-format">Format:</div>
                <select name="tree_format">
                    <option value="newick" {{form['tree_in_format_newick']}}>Newick</option>
                    <option value="nexus" {{form['tree_in_format_nexus']}}>Nexus</option>
                </select>
            </div>

            <!-- Upload alignment -->
            <div class="w3-col s3 w3-center upload-image-panel">
                <p>Alignment</p>
                <img src="{{url_for('static', filename='tree.png')}}" alt="Alignment" class="upload-image">
                <input class="file-upload-button" type="file" id="alignment-file">
                <div class="upload-file-format">Format:</div>
                <select name="alignment_format">
                    <option value="fasta" {{form['alignment_format_fasta']}}>Fasta</option>
                    <option value="nexus" {form['alignment_format_nexus']}}>Nexus</option>
                </select>
            </div>
        </div>

        <!-- Colour branches checkbox -->
        <div class="w3-row w3-container w3-padding">
            <div class="w3-col s6 w3-indigo w3-center branches">
                <!-- TODO format checkbox nicely -->
                <input type="checkbox" name="branches" value="True" {{form['branches']}}> Colour branches </input>
            </div>
        </div>

        <!-- Output file format -->
        <div class="w3-row w3-container w3-padding">
            <div class="w3-col s6 w3-indigo w3-center output-file-format">
               <div>
                   <label for="output_format">Output file format:</label>
               </div>
               <select name="output_format">
                   <option value="figtree" {{form['tree_out_format_figtree']}}>Figtree</option>
                   <option value="xml" {{form['tree_out_format_xml']}}>XML</option>
               </select>
            </div>
        </div>

                <!-- Choose sites -->
        <div class="w3-row w3-container w3-padding">
            <div class="w3-col s6 w3-indigo w3-center choose-sites">
               <input type="radio" name="choose_sites" value="{{all_sites_id}}" {{form['choose_sites_all']}}>All sites<br>
               <input type="radio" name="choose_sites" value="SITE_RANGE" {{form['choose_sites_range']}}>Choose sites:<br>
               <input type="text" name="sites_range" value="{{form['sites_string']}}">
            </div>
        </div>

        <div class="w3-row w3-container w3-padding">
            <div class="w3-col s6 w3-indigo w3-center submit">
               <input type="submit">
            </div>
        </div>

    </form>
</div>

<!-- TODO remove these temp markers just to show where middle of window is-->
<div class="" style="margin-left: 0%; margin-right: 50%; background-color:red;">
    <span>50%</span>
</div>

<div class="" style="margin-left: 50%; margin-right: 0%; background-color:blue;">
    <span>50%</span>
</div>

<div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
                <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>



</body>
</html>
