.app-panel {
    margin: auto;
    width: 532px;
    height: 550px;
    color: silver;
    background-color: #282828;
    border: 1px;
    border-color: silver;
    border-radius: 25px;
}

.upload-image-panel {
    min-width: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-radius: 25px;
}

/* uploading files */
.file-upload-button {
    width: 100%;
    /*padding: 5px 5px;*/
    cursor: pointer;
    color: silver;
    background-color: #282828;

    border-top: 1px solid silver;
}

.upload-image {
    max-width:100%;
    max-height:100%;
    min-width: 100px;
    min-height: 100px;
}

.upload-file-format {
    width: 100%;
    color: silver;
    white-space: PRE;
    background-color: #282828;

    /*border-top: 1px solid silver;*/
}

.branches {
    min-width: 500px;
    color: silver;
    background-color: #282828;

    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-radius: 25px;
}

.output-file-format {
    min-width: 500px;
    background-color: #282828;
    color: silver;

    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-radius: 25px;
}

.choose-sites {
    min-width: 500px;
    color: silver;
    background-color: #282828;

    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-radius: 25px;
}

.submit {
    min-width: 500px;

    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-radius: 25px;
}

.gap {
    margin: auto;
    width: 532px;
    height: 10px;
}

.message {
    padding: 10px;
    margin: auto;
    width: 532px;
    color: #282828;
    background-color: silver;
    border-radius: 25px;
    border: 1px;
    border-color: #282828;
}

.close-button {
  margin-left: 15px;
  color: #282828;
  font-weight: bold;
  float: right;
  font-size: 33px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover {
  color: white;
}


/* TODO combine these?*/

.self-promotion {
    margin: 20% 20%;
}

.about{
    margin: 20% 20%;
}

.examples{
    margin: 20% 20%;
}

.how-to{
    margin: 20% 20%;
}

/*results page*/

.results-panel {
    margin: auto;
    width: 532px;
    height: 550px;
    color: #282828;
    background-color: white;
    border: 1px solid silver;
    border-radius: 25px;
}

/* TODO could merge with submit button style*/
.home-button {
    padding-top: 100px;
    background-color: #282828;
    color: silver;
}


